@font-face{
    font-family: ponyFont;
    src: url('./pony.ttf');
}

.fontGameXucXac {
    font-family: ponyFont;
}

.configDiv_container{
    background: url('./bgGame.png');
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.config_BanCuoc_btn {
    border-radius: 10px;
    padding: 30px;
    border: none;
    outline: none; 
    font-size: 80px; 
    top: 60px;
    position: absolute
}

.config_Div_xucXac{
    position: absolute;
    top: 50px;
    left: 0 ;
    right: 0;
}

.playGame{
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px;
    background-color: green;
    color: ivory;
    font-size: 20px;
    outline: none;
    border: none;
}
.content{
    line-height: 50px;
    color: darkblue;
    font-size: 40px;
    top: 300px;
    position: absolute;
    left: 0;
    right: 0
}
.btnClick {
    border-radius: 50%;
    font-size: 85px; 
    padding: 25px;
}